/*====================================================
  DASHBOARD
====================================================== */

.pending-balance {
	color:rgb(226, 6, 6);
}

/*====================================================
  NAVBAR
====================================================== */

.pending-balance {
	color:rgb(226, 6, 6);
}


/*navbranding*/
.navbar-branding {
  position: relative;
  overflow: hidden;
  float: left;
  width: 180px;
  height: 60px;
  background-color: #FFF;
  margin-right: 10px;
}
.navbar-branding a.navbar-brand {
  height: 60px;
  line-height: 58px;
  padding: 0;
  padding-left: 18px;
  color: #777;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.navbar-branding a.navbar-brand b {
  font-weight: bold;
}

.navbar.bg-light .navbar-branding {
  background-color: cyan !important;
  border-bottom: 1px solid #E6E6E6;
}
/*navbar toggle sidemenu button*/
#toggle_sidemenu_l {
  float: right;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  line-height: 58px;
  max-height: 60px;
  width: 60px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#toggle_sidemenu_l:hover {
  color: #DDD;
}


/* ==============================================
   LEFT SIDEBAR
    A. Default Open State
    B. Sidebar User Area
    C. Left Sidebar Minified
    D. Nano Sidebar Scroller Settings
    E. Sidebar Skins - Default Dark Skin
    F. Sidebar Skins - Light Skin
=================================================
  A. Default Open State
================================================= */
/* Sidebar Left Container */
#sidebar_left {
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  min-height: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #30363e;
}

.sidebar-left-content {
  height: 100%;
}


/* all menu Links */
.sidebar-menu > li a {
  color: rgb(222, 232, 253);
}
/* Top level menu Links */
.sidebar-menu > li > a {
  padding: 0;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
}